@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #7b7b7b;
}

header {
  padding: 30px;
  background-color: #c7d9f5;
  height: 40px;
  margin-top: auto;
  padding-top: 0%;
}

.sidenav {
  width: 160px;
  background: #7b7b7b;
  position: absolute;
  height: 95vh;
  padding: 0 30px;
  left: -100%;
  transition: all 1s;
}

.sidenav.active {
  left: 0;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
  margin: 0;
  color: #eaecef;
}

ul li a {
  color: #eaecef;
  text-decoration: none;
  font-size: 30px;
  display: block;
  padding: 10px 0px;
  border-radius: 6px;
}

ul li a:hover,
ul li a.active {
  background: #7b7b7b;
}

header svg {
  font-size: 40px;
}

ul li svg {
  font-size: 40px;
  position: center;
  color: black;
}

.searchBar {
  padding: 1rem 5rem;
  background-color: #eaecef;
}

.searchBar input {
  font-size: 1.2rem;
  width: 100%;
}

.header {
  height: 50px;
  width: 100%;
  background-color: #eaecef;
  padding: 0rem 5rem;
}

.min {
  height: 10vh;
  display: right;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: black;
  padding: 0rem 0rem 0rem 10rem;
}

.form-control {
  text-align: center;
}
